<% include common/header.ejs %>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h4>Оберіть піцци</h4>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row" id="pizza_list"></div>
        </div>

    </div>

</div>

<% include common/footer.ejs %>
