<% include common/header.ejs %>

<div id="map"></div>
<input type="text" id="address" /><span id='addr_result'></span><span id='addr_error' class='bg-danger'></span><br>
<button type="button" id="testDistMatAPI" class="btn btn-primary">Підрахувати час</button>

<% include common/footer.ejs %>
