<%

var size_texts = {
    small_size: "Мала",
    big_size: "Велика"
};

function getSizeText(size) {
    return size_texts[size] ? size_texts[size] : size;
}

%>

    <div class="row">
        <div class="col-xs-6 text-left">
            <%= pizza.title %> (<%= getSizeText(size) %>)
        </div>
        <div class="col-xs-6 text-right">Ціна:
            <%= pizza[size].price * quantity %> грн.</div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <button class="btn btn-danger btn-circle minus"><i class="glyphicon glyphicon-minus"></i></button>
            <span class="label label-default"><%= quantity %></span>
            <button class="btn btn-success btn-circle plus"><i class="glyphicon glyphicon-plus"></i></button>
            <button class="btn btn-warning btn-circle remove"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
